<%= form_with(model: study_group_user, local: true) do |form| %>
  <% if study_group_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(study_group_user.errors.count, "error") %> prohibited this study_group_user from being saved:</h2>

      <ul>
      <% study_group_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
