<div class='border-form-study-group' align="center">

<h1>Editing Study Group</h1>

  <%= render 'form', study_group: @study_group %>
  <br><br>
  <%= link_to 'Back', study_groups_path, class:"btn btn-secondary" %>
