<div class='border-form-profile' align="center">

<h1>New Study Group</h1>

<%= render 'form', study_group: @study_group %>
<br><br>
<%= link_to 'Back', study_groups_path, class:"btn btn-primary" %>
</div>
