<!DOCTYPE html>



<div class='border-form-study-group' align="left">
  <h1>My Inbox</h1>


  <div class="row-lg-6">
      <h1>Conversations</h1>
      <div class="d-flex flex-wrap">
        <% @conversations.each do |conversation| %>
          <% if conversation.sender_id == current_user.id || conversation.receiver_id == current_user.id %>
            <% if conversation.sender_id == current_user.id %>
              <% receiver_id = User.find(conversation.receiver_id) %>
            <% else %>
              <% receiver_id = User.find(conversation.sender_id) %>
            <% end %>
              <div class="p-2 bd-highlight"><%= link_to receiver_id.email, conversation_messages_path(conversation), class:"btn btn-secondary"%></div>
          <% end %>
        <% end %>
      </div>


       <h1> Users</h1>
        <div class="d-flex flex-wrap">

          <% @users.each do |user| %>
            <% if user.id != current_user.id %>
              <div class="p-2 bd-highlight"><%= link_to user.email,
                conversations_path(sender_id: current_user.id, receiver_id: user.id), method: "post", class:"btn btn-secondary"%></div>
            <% end %>
          <% end %>

        </div>


</div>
