<div class="col-4">
  <figure class="figure">
    <%= image_tag user.picture.thumb.url, class: "figure-img- img-fluid rounded"%>
    <figcaption class="figure-caption"><%= user.description %>
    </figcaption>
  </figure>
</div>
