<div class='border-form-study-group' align="center">
<h1>Editing Offer Tutorial</h1>
<br>
<%= render 'form', offer_tutorial: @offer_tutorial %>
<br>
<td><div class="btn-group" role="group" aria-label="...">
<%= link_to 'Show', @offer_tutorial, class:"btn btn-primary" %>
<%= link_to 'Back', offer_tutorials_path, class:"btn btn-secondary" %>
</div></td>
