<div class='border-form-profile' align="center">
<h1>Editing Room Evaluation</h1>

<%= render 'form', room_evaluation: @room_evaluation %>

<%#= link_to 'Show', @room_evaluation %>
<%= link_to 'Back', room_evaluations_path %>
