<div class='border-form-profile' align="center">
<h1>New Room Evaluation</h1>
<br>
<%= render 'form', room_evaluation: @room_evaluation %>
<br>
<%= link_to 'Back', room_evaluations_path, class:"btn btn-secondary" %>

</div>
