<div class='border-form-study-group' align="center">
<h1>Editing Course</h1>

<%= render 'form', course: @course %>
<br>
<div class="btn-group" role="group" aria-label="...">
<%= link_to 'Show', @course, class:"btn btn-primary" %>
<%= link_to 'Back', courses_path, class:"btn btn-secondary" %>
</div>
</div>
