<div class='border-form-study-group' align="center">

<h1>Editing External Event</h1>
<br>

<%= render 'form', external_event: @external_event %>

<br>
<td><div class="btn-group" role="group" aria-label="...">
<%= link_to 'Show', @external_event, class:"btn btn-primary" %>
<%= link_to 'Back', external_events_path, class:"btn btn-secondary" %>
</div></td>
