<div class='border-form-study-group' align="center">

<h1>New External Event</h1>

<%= render 'form', external_event: @external_event %>
<br>
<%= link_to 'Back', external_events_path, class: "btn btn-primary"  %>
